@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 260 50% 95.1%; /* #e9e2f3 */
    --foreground: 270 18.2% 5.9%; /* #0c0910 */

    --muted: 260 50% 92.1%;
    --muted-foreground: 270 18.2% 25.9%;

    --popover: 260 50% 95.1%; /* #e9e2f3 */
    --popover-foreground: 270 18.2% 5.9%; /* #0c0910 */

    --border: 260 50% 91.4%;
    --input: 260 50% 91.4%;

    --card: 260 50% 95.1%; /* #e9e2f3 */
    --card-foreground: 270 18.2% 5.9%; /* #0c0910 */

    --primary: 261.2 81.3% 29.6%; /* #400e8b */
    --primary-foreground: 260 50% 95.1%; /* #e9e2f3 */

    --secondary: 270 58.8% 84.3%; /* #b090e0 */
    --secondary-foreground: 270 18.2% 5.9%; /* #0c0910 */

    --accent: 266.3 58.3% 66.9%; /* #8f5dda */
    --accent-foreground: 270 18.2% 5.9%; /* #0c0910 */

    --destructive: 0 100% 50%;
    --destructive-foreground: 260 50% 95.1%;

    --ring: 261.2 81.3% 29.6%; /* #400e8b */

    --radius: 0.5rem;
  }

  .dark {
    --background: 268.6 42.9% 8.8%; /* #130c1d */
    --foreground: 270 14.3% 94.9%; /* #f2eff6 */

    --muted: 268.6 42.9% 11.8%;
    --muted-foreground: 270 14.3% 64.9%;

    --accent: 265.4 62.2% 38.6%; /* #5725a2 */
    --accent-foreground: 270 14.3% 94.9%; /* #f2eff6 */

    --popover: 268.6 42.9% 8.8%; /* #130c1d */
    --popover-foreground: 270 14.3% 94.9%; /* #f2eff6 */

    --border: 268.6 42.9% 11.8%;
    --input: 268.6 42.9% 11.8%;

    --card: 268.6 42.9% 8.8%; /* #130c1d */
    --card-foreground: 270 14.3% 94.9%; /* #f2eff6 */

    --primary: 268.3 84.9% 70%; /* #a674f1 */
    --primary-foreground: 268.6 42.9% 8.8%; /* #130c1d */

    --secondary: 267.7 54.1% 27.8%; /* #3f1f6f */
    --secondary-foreground: 270 14.3% 94.9%; /* #f2eff6 */

    --destructive: 0 63% 31%;
    --destructive-foreground: 270 14.3% 94.9%;

    --ring: 268.3 84.9% 70%; /* #a674f1 */

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
